<!DOCTYPE html>
<html ng-app="myApp" ng-controller="BaseController">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>API- Documentation</title>
    <link rel="alternate" type="application/rss+xml" title="egrappler.com" href="feed/index.html">
    <link href="http://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/prettify.css">
</head>
<body data-url="http://workhost/mfp/mfp_backend/public/api">
<header>
    <div class="container">
        <h2 class="docs-header"> {{api.name}} - Documentation</h2>
        <h4>Enter Api Resource</h4>
        <input type="text" class="form-control" id="apiUrl" ng-model="apiResource">
        <button type="button" class="btn btn-white" ng-click="LoadApi()">Load API</button>
    </div>
</header>
<section>
    <div class="container">
        <div class="api-nav">
            <ul class="docs-nav" id="menu-left">
            <li><strong>Getting Started</strong></li>
            <li><a href="#welcome" class=" ">Welcome</a></li>
            <li><a href="#benefits" class=" ">Updates</a></li>
            <li class="separator"></li>
            <li><strong>Modules</strong></li>
            <li ng-if="api" ng-repeat="(key,value) in api.data">
                <a href="#{{key}}" class=" "><b>{{value.name}}</b></a>
                <ul>
                    <li ng-repeat="(rest,endpoint) in value.endpoints">
                       <a href="#{{key+'-'+rest}}">{{endpoint.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
        </div>
        <div class="docs-content">
            <h2> Getting Started</h2>
            <!--Description-->
            <h3 id="welcome">Welcome</h3>
            {{api.description}}
            <hr>
            <!--Updates-->
            <h3 id="benefits"> Updates</h3>
            <p ng-if="!api.updates">No Updates available</p>
            <div ng-if="api.updates" ng-repeat="(date,updateData) in api.updates">
                <h3>{{date}}:</h3>
                <ul>
                    <li ng-repeat="text in updateData">{{text}}</li>
                </ul>
            </div>
            <!--Module-->
            <hr>

            <div ng-repeat="(key,value) in api.data">

                <h3 id="{{key}}">{{value.name}}</h3>
                <!--Endpoint-->
                <div class="border-bottom module" ng-repeat="(rest,endpoint) in value.endpoints" id="{{key+'-'+rest}}">
                    <!--Endpoint details and parameters-->
                    <ul>
                        <li>{{endpoint.name}}</li>
                    </ul>
                    <p>{{endpoint.Description}}</p>
                    <pre class="prettyprint">{{api.baseUrl+endpoint.url}}</pre>

                    <!--Path input-->
                    <div ng-repeat="(path,type) in endpoint.paths">
                        <label for="{{path}}">{{path}}</label>
                        <input type="{{type}}" class="form-control" id="{{path}}" ng-model="endpoint.pathValue[path]">
                    </div><br>
                    <!--Param input-->
                    <div ng-repeat="(param,type) in endpoint.params">
                        <label for="{{param}}">{{param}}</label>

                        <!--File input-->
                        <div ng-if="type=='file'">
                            <!--onchange="angular.element(this).scope().filesChanged(this)"-->
                            <input type="{{type}}"
                                   file-input="endpoint.uploadData" class="form-control" id="{{param}}">
                            <p class="list-group-item" ng-repeat="file in files">{{file.name}}</p>
                        </div>
                        <!--Not a file input-->
                        <div ng-if="type!=='file'">
                            <input type="{{type}}" class="form-control" id="{{param}}" ng-model="endpoint.input[param]">
                        </div>
                    </div>
                    <br>
                    <!--Send button-->
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" ng-click="MakeRequest(endpoint)">{{endpoint.method}}</button>
                        <p class="btn btn-success" ng-if="endpoint.status">Making Request</p>
                    </div>

                    <!--Result-->
                    <h4 ng-if="endpoint.result"> Status: {{endpoint.result.status}}</h4>
                    <h4 ng-if="endpoint.result">Response:</h4>
                    <pre ng-if="endpoint.result" class="prettyprint">
                        {{endpoint.result.data | json}}
                    </pre>

                </div>
                <hr>
            </div>
        </div>
    </div>
</section>
<section class="vibrant centered">
    <div class="container">
        {{api.name}}: v{{api.version}}
    </div>
</section>
<footer>
    <div class="container">
        <p> &copy; 2017 <a href="http://kunleodusan.com">kunleodusan.com</a></p>
    </div>
</footer>
<script src="assets/js/jquery.min.js"></script>

<script type="text/javascript" src="assets/js/prettify/prettify.js"></script>
<script src="assets/js/layout.js"></script>
<script src="assets/js/jquery.localscroll-1.2.7.js" type="text/javascript"></script>
<script src="assets/js/jquery.scrollTo-1.4.3.1.js" type="text/javascript"></script>
<!--Dynamically creates analytics markup-->
<!--
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="view1/view1.js"></script>
<script src="view2/view2.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
