<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" ng-controller="BaseController" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" ng-controller="BaseController" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" ng-controller="BaseController" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" ng-controller="BaseController" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{api.name}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body data-url="http://localhost/EXTERNAL/mfp/mfp_backend/public/api/v1">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!--<div ng-view></div>-->

  <!--<ul class="menu">
    <li><a href="#!/view1">view1</a></li>
    <li><a href="#!/view2">view2</a></li>
  </ul>-->
  <div class="jumbotron text-center">
      <h1>{{api.name}}</h1>
      <hr>
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <h4>Enter Api Resource</h4>
                      <input type="text" class="form-control" id="apiUrl" ng-model="apiResource">
                  </div>
              </div>
              <div class="col-md-6">
                  <br>
                  <button type="button" class="btn btn-danger" ng-click="LoadApi()">Load API</button>
              </div>
          </div>
      </div>

  </div>

  <div class="container">
      <div class="row">
          <div class="col-md-12">

            <div class="panel-group" ng-repeat="(key,value) in api.data">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" href="#{{key}}">{{value.name}}</a>
                      </h4>
                  </div>
                  <div id="{{key}}" class="panel-collapse collapse">
                      <div class="panel-body">
                          <div ng-repeat="(rest,endpoint) in value.endpoints" class="table-responsive table-bordered">
                              <a data-toggle="collapse" class="col-md-12 background-black" href="#{{key+'-'+rest}}">{{endpoint.name}}</a>

                              <table class="table collapse col-md-12" id="{{key+'-'+rest}}">
                                  <tr>
                                      <td class="info col-md-6">
                                          <h4>{{endpoint.name}}</h4>
                                          <p>{{endpoint.Description}}</p>
                                          <p class="background-url">{{api.baseUrl+endpoint.url}}</p>
                                          <div ng-repeat="(path,type) in endpoint.paths">
                                              <label for="{{path}}">{{path}}</label>
                                              <input type="{{type}}" class="form-control" id="{{path}}" ng-model="endpoint.pathValue[path]">
                                          </div><br>
                                          <div ng-repeat="(param,type) in endpoint.params">
                                              <label for="{{param}}">{{param}}</label>
                                              <div ng-if="type=='file'">

                                                  <!--onchange="angular.element(this).scope().filesChanged(this)"-->
                                                  <input type="{{type}}"
                                                         file-input="endpoint.uploadData" class="form-control" id="{{param}}">
                                                  <li class="list-group-item" ng-repeat="file in files">{{file.name}}</li>

                                              </div>
                                              <div ng-if="type!=='file'">
                                                  <input type="{{type}}" class="form-control" id="{{param}}" ng-model="endpoint.input[param]">
                                              </div>
                                          </div>
                                          <br>
                                          <div class="form-group">
                                              <button type="button" class="btn btn-primary" ng-click="MakeRequest(endpoint)">{{endpoint.method}}</button>
                                              <p class="btn btn-success" ng-if="endpoint.status">Sending</p>
                                          </div>
                                      </td>
                                      <td ng-if="endpoint.result" class="success col-md-6">

                                          <div>
                                              <pre>{{RequestResponse(endpoint.result)}}</pre>
                                          </div>
                                          <!--<div ng-bind-html="RequestResponse(endpoint.result)">
                                          </div>-->
                                      </td>
                                  </tr>
                              </table>
                          </div>
                      </div>
                      <div class="panel-footer">{{endpoints(value.endpoints)}} Endpoints</div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="jumbotron text-center"> {{api.name}}: v{{api.version}}</div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
